In [1]:
#tidy data 
import pandas as pd

In [3]:
pew = pd.read_csv('pew.csv')
pew

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [4]:

#not a clean data set , columns headers are values and not variable 
#data not tidy if we cant do group by aggregate 

#except the column religion, we want to pivot the rest and have  

#id_vars --> this column is fixed and dont want to pivot 
#if we want more than one, pass it as a list 
pd.melt(pew, id_vars = 'religion' , var_name = 'income', value_name = 'count')

#makes 2 variables variable and value

                    religion              income  count
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [5]:
#dealing with multiple columns
billboard  = pd.read_csv('billboard.csv')

#now we want pivot weeks into 1 column leaving the rest as it is
pd.melt(billboard, id_vars = ['year','artist','track','time','date.entered'], var_name = 'week', value_name = 'Ranking')

,year,artist,track,time,date.entered,week,Ranking
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,wk1,51.0
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,wk1,97.0
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,wk1,84.0
8,2000,Aaliyah,Try Again,4:03,2000-03-18,wk1,59.0
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,wk1,76.0
10,2000,"Adkins, Trace",More,3:05,2000-04-29,wk1,84.0
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,2000-08-05,wk1,57.0
12,2000,"Aguilera, Christina",I Turn To You,4:00,2000-04-15,wk1,50.0
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,1999-11-27,wk1,71.0
14,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,wk1,79.0
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,2000-01-22,wk1,80.0
16,2000,Amber,Sexual,4:38,1999-07-17,wk1,99.0
17,2000,Anastacia,I'm Outta Love,4:01,2000-04-01,wk1,92.0
18,2000,"Anthony, Marc",My Baby You,3:59,2000-09-16,wk1,82.0
19,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,wk1,77.0
20,2000,Avant,My First Love,4:28,2000-11-04,wk1,70.0
21,2000,Avant,Separated,4:13,2000-04-29,wk1,62.0
22,2000,BBMak,Back Here,3:35,2000-04-29,wk1,99.0
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,2000-10-14,wk1,39.0
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,wk1,74.0
25,2000,"Backstreet Boys, The",The One,3:46,2000-05-27,wk1,58.0
26,2000,"Badu, Erkyah",Bag Lady,5:03,2000-08-19,wk1,67.0
27,2000,Baha Men,Who Let The Dogs Out,3:17,2000-07-22,wk1,99.0
28,2000,Barenaked Ladies,Pinch Me,3:46,2000-09-09,wk1,77.0
29,2000,Beenie Man,Girls Dem Sugar,4:17,2000-10-21,wk1,72.0
...,...,...,...,...,...,...,...
24062,2000,"Thomas, Carl",Emotional,4:31,2000-11-25,wk76,NaN
24063,2000,"Thomas, Carl",I Wish,3:50,2000-03-25,wk76,NaN
24064,2000,"Thomas, Carl",Summer Rain,4:57,2000-09-23,wk76,NaN
24065,2000,"Tippin, Aaron",Kiss This,2:53,2000-08-26,wk76,NaN
24066,2000,Train,Meet Virginia,3:55,1999-10-09,wk76,NaN
24067,2000,Trick Daddy,Shut Up,4:17,2000-05-20,wk76,NaN
24068,2000,Trina,Pull Over,2:58,2000-09-09,wk76,NaN
24069,2000,"Tritt, Travis",Best Of Intentions,4:15,2000-08-19,wk76,NaN
24070,2000,Tuesday,I Know,4:06,2000-12-30,wk76,NaN
24071,2000,"Urban, Keith",Your Everything,4:10,2000-07-15,wk76,NaN
24072,2000,Usher,Pop Ya Collar,3:36,2000-11-04,wk76,NaN
24073,2000,"Vassar, Phil",Carlene,4:07,2000-03-04,wk76,NaN
24074,2000,"Vassar, Phil",Just Another Day In ...,3:54,2000-09-30,wk76,NaN
24075,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,wk76,NaN
24076,2000,Vertical Horizon,You're A God,3:45,2000-08-26,wk76,NaN
24077,2000,Vitamin C,Graduation (Friends ...,4:23,2000-04-15,wk76,NaN
24078,2000,Vitamin C,The Itch,3:30,2000-12-02,wk76,NaN
24079,2000,"Walker, Clay","Live, Laugh, Love",4:06,1999-12-04,wk76,NaN
24080,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,wk76,NaN
24081,2000,"Wallflowers, The",Sleepwalker,3:29,2000-10-28,wk76,NaN
24082,2000,Westlife,Swear It Again,4:07,2000-04-01,wk76,NaN
24083,2000,"Williams, Robbie",Angels,3:56,1999-11-20,wk76,NaN
24084,2000,"Wills, Mark",Back At One,4:00,2000-01-15,wk76,NaN
24085,2000,"Worley, Darryl",When You Need My Lov...,3:35,2000-06-17,wk76,NaN
24086,2000,"Wright, Chely",It Was,3:51,2000-03-04,wk76,NaN
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [10]:
#another data set
tb = pd.read_csv('tb.csv')
tb.head(5)
pd.melt(tb, id_vars=['iso2','year'],var_name= 'M/F', value_name= 'fu')
#denoting males in different age brackets as well as females

       iso2  year  M/F   fu
0        AD  1989  m04  NaN
1        AD  1990  m04  NaN
2        AD  1991  m04  NaN
3        AD  1992  m04  NaN
4        AD  1993  m04  NaN
5        AD  1994  m04  NaN
6        AD  1996  m04  NaN
7        AD  1997  m04  NaN
8        AD  1998  m04  NaN
9        AD  1999  m04  NaN
10       AD  2000  m04  NaN
11       AD  2001  m04  NaN
12       AD  2002  m04  NaN
13       AD  2003  m04  NaN
14       AD  2004  m04  NaN
15       AD  2005  m04  0.0
16       AD  2006  m04  0.0
17       AD  2007  m04  NaN
18       AD  2008  m04  0.0
19       AE  1980  m04  NaN
20       AE  1981  m04  NaN
21       AE  1982  m04  NaN
22       AE  1983  m04  NaN
23       AE  1984  m04  NaN
24       AE  1985  m04  NaN
25       AE  1986  m04  NaN
26       AE  1987  m04  NaN
27       AE  1988  m04  NaN
28       AE  1989  m04  NaN
29       AE  1990  m04  NaN
...     ...   ...  ...  ...
115350   ZM  2008   fu  0.0
115351   ZW  1980   fu  NaN
115352   ZW  1981   fu  NaN
115353   ZW  1982   fu  NaN
115354   ZW  1983   fu  NaN
115355   ZW  1984   fu  NaN
115356   ZW  1985   fu  NaN
115357   ZW  1986   fu  NaN
115358   ZW  1987   fu  NaN
115359   ZW  1988   fu  NaN
115360   ZW  1989   fu  NaN
115361   ZW  1990   fu  NaN
115362   ZW  1991   fu  NaN
115363   ZW  1992   fu  NaN
115364   ZW  1993   fu  NaN
115365   ZW  1994   fu  NaN
115366   ZW  1995   fu  NaN
115367   ZW  1996   fu  NaN
115368   ZW  1997   fu  NaN
115369   ZW  1998   fu  NaN
115370   ZW  1999   fu  NaN
115371   ZW  2000   fu  NaN
115372   ZW  2001   fu  NaN
115373   ZW  2002   fu  NaN
115374   ZW  2003   fu  NaN
115375   ZW  2004   fu  NaN
115376   ZW  2005   fu  NaN
115377   ZW  2006   fu  NaN
115378   ZW  2007   fu  NaN
115379   ZW  2008   fu  0.0

[115380 rows x 4 columns]

In [11]:

#this is a single column stored in multiple columns 

#ebola data set with the same problem
ebola = pd.read_csv('ebola_country_timeseries.csv')
ebola.head()

#cases and deaths of various countries 
#first get to know whether it is case or death and then the country 

ebola_melt = pd.melt(ebola, id_vars = ['Date','Day'], var_name = 'cd_country', value_name = 'count')
ebola_melt

#if we want take a column and treat it as a vector of strings we use .str and then we can do standard string ops
ebola_melt['cd_country'].str
#now use string.split to split cases and deaths 
var_split = ebola_melt['cd_country'].str.split('_')

#var_split has a list of lists
#if we want the 1st element of all lists
#if we want each element in the list which is a part of a series 
#str makes sure it acts in a vectorized manner 
status_values = var_split.str.get(0)
country_values = var_split.str.get(1)


#assigning new columns in our data frame
ebola_melt['Status'] = status_values
ebola_melt['Country'] = country_values

In [12]:
type(ebola_melt['cd_country'].str.split('_')[0])

#each element is a list and a bunch of list is a pandas series 
#first element of the list is status and the second is country 

variable_split = ebola_melt['cd_country'].str.split('_', expand = True)
variable_split
#instead each element as a list of series, it returns a data frame

#renaming columns
variable_split.columns = ['Status1','Country1']
variable_split

#now concatenate
ebola_clean = pd.concat([ebola_melt,variable_split],axis = 1)
ebola_clean.head()

         Date  Day    cd_country   count Status Country Status1 Country1
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea   Cases   Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea   Cases   Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea   Cases   Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea   Cases   Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea   Cases   Guinea

In [16]:
# another cleaning problem 
#varibales both in row and column 
weather = pd.read_csv('weather.csv')
weather.head()
#how to know there is a problem - when 2 or more rows are almost identical minus a few minor details 
#2 3 duplicated except element series. so a lot of duplicates in this data

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:


#first step to fix - melt 
weather_melt = pd.melt(weather, id_vars = ['id','year','month','element'], var_name = 'Day', value_name = 'temp')
weather_melt.head()
#we can also do weather.melt
#now you can see duplicates clearly - because of element

        id  year  month element Day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [17]:


#next step - opposite of melt - pivot into columns 
#take each unique value of element and turn that into a seperate column 
#for that pivot table - index - columns that you want to keep the same , columns to pivot up that column , values will
#tell what values you want to populate new formed columns with
weather_tidy = weather_melt.pivot_table(index = ['id','year','month','Day'], columns = 'element', values = 'temp')

element                 tmax  tmin
id      year month Day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0
             7     d3   28.6  17.5
                   d14  29.9  16.5
             8     d23  26.4  15.0
                   d5   29.6  15.8
                   d29  28.0  15.3
                   d13  29.8  16.5
                   d25  29.7  15.6
                   d31  25.4  15.4

In [19]:
weather_tidy = weather_tidy.reset_index()
weather_tidy.head(20)

# weather_tidy['Day'].str.get()

#in pivot table if duplicates are generated, you can replace the value with aggfunc with mean min max etc 

#now we have to convert days to integer

element       id  year  month  Day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4